openapi: 3.1.0
info:
  title: Flagify API
  version: 2.0.0
  summary: Environment-aware feature flags with identities, audit logs, analytics, protected changes, and versioned runtime snapshots
  description: |
    Flagify manages:
    - projects
    - environments inside projects
    - clients inside projects
    - flags with variants, prerequisites, and lifecycle metadata
    - reusable targeting segments
    - per-environment flag rules
    - per-client overrides
    - first-class identities and identity traits
    - audit logs and evaluation analytics
    - protected-environment change requests
    - deterministic import/export and code reference ingestion
    - API keys
    - runtime resolution and local-evaluation snapshots
servers:
  - url: https://flagify.rsrdev.com
security:
  - bearerAuth: []
tags:
  - name: Projects
  - name: Environments
  - name: Segments
  - name: Flags
  - name: Clients
  - name: Identities
  - name: Overrides
  - name: Audit
  - name: Analytics
  - name: Change Requests
  - name: Import Export
  - name: Code References
  - name: Events
  - name: Keys
  - name: Runtime
paths:
  /api/v1/projects:
    post:
      tags: [Projects]
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    get:
      tags: [Projects]
      summary: List projects
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectListResponse' }
  /api/v1/projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      summary: Get project
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    patch:
      tags: [Projects]
      summary: Update project
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProjectRequest' }
      responses:
        '200':
          description: Updated project
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    delete:
      tags: [Projects]
      summary: Soft delete project
      responses:
        '204': { description: Project deleted }
  /api/v1/projects/{projectId}/environments:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Environments]
      summary: Create environment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateEnvironmentRequest' }
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    get:
      tags: [Environments]
      summary: List environments
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Environment list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvironmentListResponse' }
  /api/v1/projects/{projectId}/environments/{environmentId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentId'
    get:
      tags: [Environments]
      summary: Get environment
      responses:
        '200':
          description: Environment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    patch:
      tags: [Environments]
      summary: Update environment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateEnvironmentRequest' }
      responses:
        '200':
          description: Updated environment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    delete:
      tags: [Environments]
      summary: Delete environment
      responses:
        '204': { description: Environment deleted }
  /api/v1/projects/{projectId}/segments:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Segments]
      summary: Create segment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateSegmentRequest' }
      responses:
        '201':
          description: Segment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Segment' }
    get:
      tags: [Segments]
      summary: List segments
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Segment list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SegmentListResponse' }
  /api/v1/projects/{projectId}/segments/{segmentId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SegmentId'
    get:
      tags: [Segments]
      summary: Get segment
      responses:
        '200':
          description: Segment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Segment' }
    patch:
      tags: [Segments]
      summary: Update segment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateSegmentRequest' }
      responses:
        '200':
          description: Updated segment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Segment' }
    delete:
      tags: [Segments]
      summary: Delete segment
      responses:
        '204': { description: Segment deleted }
  /api/v1/projects/{projectId}/flags:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Flags]
      summary: Create flag
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateFlagRequest' }
      responses:
        '201':
          description: Flag created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Flag' }
    get:
      tags: [Flags]
      summary: List flags
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: include_archived
          in: query
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Flag list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FlagListResponse' }
  /api/v1/projects/{projectId}/flags/{flagId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FlagId'
    get:
      tags: [Flags]
      summary: Get flag
      responses:
        '200':
          description: Flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Flag' }
    patch:
      tags: [Flags]
      summary: Update flag
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateFlagRequest' }
      responses:
        '200':
          description: Updated flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Flag' }
    delete:
      tags: [Flags]
      summary: Delete flag or archive it if overrides exist
      responses:
        '204': { description: Flag deleted or archived }
  /api/v1/projects/{projectId}/flags/{flagId}/environments/{environmentKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FlagId'
      - $ref: '#/components/parameters/EnvironmentKey'
    get:
      tags: [Flags]
      summary: Get environment-specific flag config
      responses:
        '200':
          description: Environment config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FlagEnvironmentConfig' }
    put:
      tags: [Flags]
      summary: Create or replace environment-specific flag config
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PutFlagEnvironmentConfigRequest' }
      responses:
        '200':
          description: Environment config upserted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FlagEnvironmentConfig' }
    delete:
      tags: [Flags]
      summary: Reset environment-specific config to inherited defaults
      responses:
        '204': { description: Flag environment config reset }
  /api/v1/projects/{projectId}/clients:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Clients]
      summary: Create client
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateClientRequest' }
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
    get:
      tags: [Clients]
      summary: List clients
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Client list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClientListResponse' }
  /api/v1/projects/{projectId}/clients/{clientId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Clients]
      summary: Get client
      responses:
        '200':
          description: Client
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
    patch:
      tags: [Clients]
      summary: Update client
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateClientRequest' }
      responses:
        '200':
          description: Updated client
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
    delete:
      tags: [Clients]
      summary: Delete client
      responses:
        '204': { description: Client deleted }
  /api/v1/projects/{projectId}/clients/{clientId}/flags/{flagId}/override:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/FlagId'
    put:
      tags: [Overrides]
      summary: Create or replace a client override
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PutOverrideRequest' }
      responses:
        '200':
          description: Override upserted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Override' }
    delete:
      tags: [Overrides]
      summary: Delete a client override
      responses:
        '204': { description: Override deleted }
  /api/v1/projects/{projectId}/clients/{clientId}/overrides:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Overrides]
      summary: List client overrides
      responses:
        '200':
          description: Override list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OverrideListResponse' }
  /api/v1/projects/{projectId}/evaluation-events:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Events]
      summary: List evaluation events
      parameters:
        - name: environment
          in: query
          schema: { type: string }
        - name: flag_id
          in: query
          schema: { type: string }
        - name: client_id
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Evaluation event list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EvaluationEventListResponse' }
  /api/v1/keys:
    post:
      tags: [Keys]
      summary: Create API key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateKeyRequest' }
      responses:
        '201':
          description: Key created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedKey' }
    get:
      tags: [Keys]
      summary: List API keys
      parameters:
        - name: project_id
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Key list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KeyListResponse' }
  /api/v1/keys/{keyId}:
    parameters:
      - $ref: '#/components/parameters/KeyId'
    get:
      tags: [Keys]
      summary: Get key
      responses:
        '200':
          description: API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKey' }
  /api/v1/keys/{keyId}/revoke:
    parameters:
      - $ref: '#/components/parameters/KeyId'
    post:
      tags: [Keys]
      summary: Revoke key
      responses:
        '204': { description: Key revoked }
  /api/v1/runtime/config:
    get:
      tags: [Runtime]
      summary: Resolve config for the runtime key's bound client
      parameters:
        - name: environment
          in: query
          schema: { type: string, description: Environment key, defaults to the project's default environment }
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve a single flag for the runtime key's bound client
      parameters:
        - name: environment
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Resolved flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedFlag' }
  /api/v1/runtime/projects/{projectId}/clients/{clientKey}/config:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientKey'
    get:
      tags: [Runtime]
      summary: Resolve config for a project client in the given or default environment
      parameters:
        - name: environment
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/projects/{projectId}/clients/{clientKey}/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientKey'
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve one flag for a project client in the given or default environment
      parameters:
        - name: environment
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Resolved flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedFlag' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/clients/{clientKey}/config:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
      - $ref: '#/components/parameters/ClientKey'
    get:
      tags: [Runtime]
      summary: Resolve config for a project client in a specific environment
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/clients/{clientKey}/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
      - $ref: '#/components/parameters/ClientKey'
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve one flag for a project client in a specific environment
      responses:
        '200':
          description: Resolved flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedFlag' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/snapshot:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
    get:
      tags: [Runtime]
      summary: Produce a local-evaluation snapshot for an environment
      responses:
        '200':
          description: Snapshot
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RuntimeSnapshot' }
  /api/v1/projects/{projectId}/identities:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Identities]
      summary: Create an identity with optional initial traits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, identifier]
              properties:
                kind: { type: string }
                identifier: { type: string }
                display_name: { type: [string, 'null'] }
                description: { type: [string, 'null'] }
                traits:
                  type: object
                  additionalProperties: true
      responses:
        '201': { description: Identity created }
    get:
      tags: [Identities]
      summary: List identities
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { description: Identity list }
  /api/v1/projects/{projectId}/identities/{identityId}/traits:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: identityId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Identities]
      summary: List identity traits
      responses:
        '200': { description: Trait map }
    patch:
      tags: [Identities]
      summary: Bulk set and unset traits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set:
                  type: object
                  additionalProperties: true
                unset:
                  type: array
                  items: { type: string }
      responses:
        '200': { description: Updated traits }
  /api/v1/projects/{projectId}/audit-logs:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Audit]
      summary: List audit logs for project mutations
      responses:
        '200': { description: Audit log list }
  /api/v1/projects/{projectId}/analytics/evaluations/by-flag:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Analytics]
      summary: Aggregate evaluations by flag
      responses:
        '200': { description: Evaluation aggregates }
  /api/v1/projects/{projectId}/change-requests:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Change Requests]
      summary: Create a change request for protected flag environment config
      responses:
        '201': { description: Change request created }
    get:
      tags: [Change Requests]
      summary: List change requests
      responses:
        '200': { description: Change requests }
  /api/v1/projects/{projectId}/export:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Import Export]
      summary: Export deterministic project config
      responses:
        '200': { description: Project export }
  /api/v1/projects/{projectId}/import:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Import Export]
      summary: Import deterministic project config with dry-run and replace controls
      responses:
        '200': { description: Import plan or apply result }
  /api/v1/projects/{projectId}/code-references:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Code References]
      summary: Ingest code references for flags
      responses:
        '201': { description: Code references created }
    get:
      tags: [Code References]
      summary: List code references
      responses:
        '200': { description: Code references }
  /api/v1/projects/{projectId}/flags/stale-report:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Flags]
      summary: Report likely stale flags from evaluation history and code references
      responses:
        '200': { description: Stale flag candidates }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/identities/evaluate:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
    post:
      tags: [Runtime]
      summary: Evaluate flags for an identity with transient traits
      responses:
        '200': { description: Resolved identity config }
  /api/v1/runtime/projects/{projectId}/evaluation-events:batch:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Runtime]
      summary: Ingest batched evaluation events from local evaluators or edge services
      responses:
        '202': { description: Batch accepted }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema: { type: string }
    EnvironmentId:
      name: environmentId
      in: path
      required: true
      schema: { type: string }
    EnvironmentKey:
      name: environmentKey
      in: path
      required: true
      schema: { type: string }
    SegmentId:
      name: segmentId
      in: path
      required: true
      schema: { type: string }
    FlagId:
      name: flagId
      in: path
      required: true
      schema: { type: string }
    ClientId:
      name: clientId
      in: path
      required: true
      schema: { type: string }
    ClientKey:
      name: clientKey
      in: path
      required: true
      schema: { type: string }
    KeyId:
      name: keyId
      in: path
      required: true
      schema: { type: string }
    FlagKey:
      name: flagKey
      in: path
      required: true
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    Project:
      type: object
      required: [id, name, slug, status, created_at, updated_at]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, deleted] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Environment:
      type: object
      required: [id, project_id, key, name, is_default, sort_order, status, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        is_default: { type: integer }
        sort_order: { type: integer }
        status: { type: string, enum: [active, deleted] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Condition:
      type: object
      required: [attribute, operator]
      properties:
        attribute: { type: string }
        operator: { type: string }
        value: {}
        values:
          type: array
          items: {}
    Segment:
      type: object
      required: [id, project_id, key, name, rules, status, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
        status: { type: string, enum: [active, deleted] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Variant:
      type: object
      required: [key, name, value]
      properties:
        key: { type: string }
        name: { type: string }
        value: {}
        payload:
          type: [object, 'null']
          additionalProperties: true
    Prerequisite:
      type: object
      required: [flag_key]
      properties:
        flag_key: { type: string }
        expected_variant_key: { type: [string, 'null'] }
        expected_value: {}
    Flag:
      type: object
      required: [id, project_id, key, name, flag_kind, type, default_value, status, created_at, updated_at, stale_status]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        flag_kind: { type: string, enum: [release, experiment, ops, permission] }
        type: { type: string, enum: [boolean, select, multi_select] }
        default_value: {}
        options:
          type: [array, 'null']
          items: { type: string }
        variants:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Variant' }
        default_variant_key: { type: [string, 'null'] }
        prerequisites:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Prerequisite' }
        status: { type: string, enum: [active, archived] }
        expires_at: { type: [string, 'null'], format: date-time }
        last_evaluated_at: { type: [string, 'null'], format: date-time }
        stale_status: { type: string, enum: [active, stale] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    TargetRule:
      type: object
      required: [name, conditions, segment_keys, bucketing_key, serve]
      properties:
        name: { type: string }
        conditions:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
        segment_keys:
          type: array
          items: { type: string }
        percentage: { type: number }
        bucketing_key: { type: string }
        schedule:
          type: [object, 'null']
          properties:
            start_at: { type: [string, 'null'] }
            end_at: { type: [string, 'null'] }
        serve:
          type: object
          properties:
            value: {}
            variant_key: { type: [string, 'null'] }
    FlagEnvironmentConfig:
      type: object
      required: [flag_id, environment_id, rules]
      properties:
        id: { type: [string, 'null'] }
        flag_id: { type: string }
        environment_id: { type: string }
        default_value: {}
        default_variant_key: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/TargetRule' }
        environment: { $ref: '#/components/schemas/Environment' }
        created_at: { type: [string, 'null'], format: date-time }
        updated_at: { type: [string, 'null'], format: date-time }
    Client:
      type: object
      required: [id, project_id, key, name, status, metadata, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, disabled, deleted] }
        metadata:
          type: object
          additionalProperties: true
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Override:
      type: object
      required: [id, project_id, flag_id, client_id, value, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        flag_id: { type: string }
        client_id: { type: string }
        value: {}
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    ApiKey:
      type: object
      required: [id, name, prefix, kind, scopes, created_at]
      properties:
        id: { type: string }
        project_id: { type: [string, 'null'] }
        client_id: { type: [string, 'null'] }
        name: { type: string }
        prefix: { type: string }
        kind: { type: string }
        scopes:
          type: array
          items: { type: string }
        last_used_at: { type: [string, 'null'], format: date-time }
        expires_at: { type: [string, 'null'], format: date-time }
        revoked_at: { type: [string, 'null'], format: date-time }
        created_at: { type: string, format: date-time }
    EvaluationEvent:
      type: object
      required: [id, project_id, environment_id, flag_id, client_id, value, reason, context, created_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        environment_id: { type: string }
        flag_id: { type: string }
        client_id: { type: string }
        variant_key: { type: [string, 'null'] }
        value: {}
        reason: { type: string }
        matched_rule: { type: [string, 'null'] }
        context:
          type: object
          additionalProperties: true
        created_at: { type: string, format: date-time }
    ResolvedFlagValue:
      type: object
      required: [value, reason, stale_status]
      properties:
        value: {}
        variant_key: { type: [string, 'null'] }
        payload:
          type: [object, 'null']
          additionalProperties: true
        reason: { type: string }
        matched_rule: { type: [string, 'null'] }
        stale_status: { type: string, enum: [active, stale] }
    ResolvedConfig:
      type: object
      required: [project, client, environment, flags, meta]
      properties:
        project:
          type: object
          properties:
            id: { type: string }
            slug: { type: [string, 'null'] }
        client:
          type: object
          properties:
            id: { type: string }
            key: { type: string }
        environment:
          type: object
          properties:
            id: { type: string }
            key: { type: string }
            name: { type: string }
        flags:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ResolvedFlagValue'
        meta:
          type: object
          properties:
            resolved_at: { type: string, format: date-time }
    ResolvedFlag:
      allOf:
        - type: object
          required: [key]
          properties:
            key: { type: string }
        - $ref: '#/components/schemas/ResolvedFlagValue'
    RuntimeSnapshot:
      type: object
      required: [project_id, environment, segments, flags, meta]
      properties:
        project_id: { type: string }
        environment:
          type: object
          properties:
            id: { type: string }
            key: { type: string }
            name: { type: string }
        segments:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              name: { type: string }
              rules:
                type: array
                items: { $ref: '#/components/schemas/Condition' }
        flags:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              type: { type: string }
              flag_kind: { type: string }
              default_value: {}
              default_variant_key: { type: [string, 'null'] }
              options:
                type: [array, 'null']
                items: { type: string }
              variants:
                type: [array, 'null']
                items: { $ref: '#/components/schemas/Variant' }
              prerequisites:
                type: [array, 'null']
                items: { $ref: '#/components/schemas/Prerequisite' }
              rules:
                type: array
                items: { $ref: '#/components/schemas/TargetRule' }
              stale_status: { type: string }
        meta:
          type: object
          properties:
            generated_at: { type: string, format: date-time }
            mode: { type: string }
    ProjectListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Project' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    EnvironmentListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Environment' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    SegmentListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Segment' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    FlagListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Flag' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    ClientListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Client' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    OverrideListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Override' }
    KeyListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ApiKey' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    EvaluationEventListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/EvaluationEvent' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    PaginationMeta:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
    CreatedKey:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [secret]
          properties:
            secret: { type: string }
    CreateProjectRequest:
      type: object
      required: [name, slug]
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
    UpdateProjectRequest:
      type: object
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
    CreateEnvironmentRequest:
      type: object
      required: [key, name]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        is_default: { type: boolean }
        sort_order: { type: integer }
    UpdateEnvironmentRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        is_default: { type: boolean }
        sort_order: { type: integer }
    CreateSegmentRequest:
      type: object
      required: [key, name, rules]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
    UpdateSegmentRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
    CreateFlagRequest:
      type: object
      required: [key, name, type, default_value]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        flag_kind: { type: string, enum: [release, experiment, ops, permission] }
        type: { type: string, enum: [boolean, select, multi_select] }
        default_value: {}
        options:
          type: [array, 'null']
          items: { type: string }
        variants:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Variant' }
        default_variant_key: { type: [string, 'null'] }
        prerequisites:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Prerequisite' }
        expires_at: { type: [string, 'null'] }
    UpdateFlagRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        flag_kind: { type: string, enum: [release, experiment, ops, permission] }
        default_value: {}
        options:
          type: [array, 'null']
          items: { type: string }
        variants:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Variant' }
        default_variant_key: { type: [string, 'null'] }
        prerequisites:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Prerequisite' }
        expires_at: { type: [string, 'null'] }
        status: { type: string, enum: [active, archived] }
    PutFlagEnvironmentConfigRequest:
      type: object
      properties:
        default_value: {}
        default_variant_key: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/TargetRule' }
    CreateClientRequest:
      type: object
      required: [key, name]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        metadata:
          type: object
          additionalProperties: true
    UpdateClientRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, disabled, deleted] }
        metadata:
          type: object
          additionalProperties: true
    PutOverrideRequest:
      type: object
      required: [value]
      properties:
        value: {}
    CreateKeyRequest:
      type: object
      required: [kind, name]
      properties:
        kind: { type: string, enum: [project_admin, project_read, client_runtime] }
        project_id: { type: [string, 'null'] }
        client_id: { type: [string, 'null'] }
        name: { type: string }
        scopes:
          type: array
          items: { type: string }
        expires_at: { type: [string, 'null'] }
