openapi: 3.1.0
info:
  title: Flagify API
  version: 2.0.0
  summary: Environment-aware feature flags with identities, audit logs, analytics, protected changes, and versioned runtime snapshots
  description: |
    Flagify manages:
    - projects
    - environments inside projects
    - clients inside projects
    - flags with variants, prerequisites, and lifecycle metadata
    - reusable targeting segments
    - per-environment flag rules
    - per-client overrides
    - first-class identities and identity traits
    - audit logs and evaluation analytics
    - protected-environment change requests
    - deterministic import/export and code reference ingestion
    - API keys
    - runtime resolution and local-evaluation snapshots
servers:
  - url: https://flagify.rsrdev.com
security:
  - bearerAuth: []
tags:
  - name: Projects
  - name: Environments
  - name: Segments
  - name: Flags
  - name: Clients
  - name: Identities
  - name: Overrides
  - name: Audit
  - name: Analytics
  - name: Change Requests
  - name: Import Export
  - name: Code References
  - name: Events
  - name: Keys
  - name: Runtime
paths:
  /api/v1/projects:
    post:
      tags: [Projects]
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    get:
      tags: [Projects]
      summary: List projects
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectListResponse' }
  /api/v1/projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      summary: Get project
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    patch:
      tags: [Projects]
      summary: Update project
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProjectRequest' }
      responses:
        '200':
          description: Updated project
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    delete:
      tags: [Projects]
      summary: Soft delete project
      responses:
        '204': { description: Project deleted }
  /api/v1/projects/{projectId}/environments:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Environments]
      summary: Create environment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateEnvironmentRequest' }
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    get:
      tags: [Environments]
      summary: List environments
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Environment list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvironmentListResponse' }
  /api/v1/projects/{projectId}/environments/{environmentId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentId'
    get:
      tags: [Environments]
      summary: Get environment
      responses:
        '200':
          description: Environment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    patch:
      tags: [Environments]
      summary: Update environment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateEnvironmentRequest' }
      responses:
        '200':
          description: Updated environment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    delete:
      tags: [Environments]
      summary: Delete environment
      responses:
        '204': { description: Environment deleted }
  /api/v1/projects/{projectId}/segments:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Segments]
      summary: Create segment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateSegmentRequest' }
      responses:
        '201':
          description: Segment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Segment' }
    get:
      tags: [Segments]
      summary: List segments
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Segment list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SegmentListResponse' }
  /api/v1/projects/{projectId}/segments/{segmentId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SegmentId'
    get:
      tags: [Segments]
      summary: Get segment
      responses:
        '200':
          description: Segment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Segment' }
    patch:
      tags: [Segments]
      summary: Update segment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateSegmentRequest' }
      responses:
        '200':
          description: Updated segment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Segment' }
    delete:
      tags: [Segments]
      summary: Delete segment
      responses:
        '204': { description: Segment deleted }
  /api/v1/projects/{projectId}/flags:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Flags]
      summary: Create flag
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateFlagRequest' }
      responses:
        '201':
          description: Flag created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Flag' }
    get:
      tags: [Flags]
      summary: List flags
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: include_archived
          in: query
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Flag list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FlagListResponse' }
  /api/v1/projects/{projectId}/flags/{flagId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FlagId'
    get:
      tags: [Flags]
      summary: Get flag
      responses:
        '200':
          description: Flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Flag' }
    patch:
      tags: [Flags]
      summary: Update flag
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateFlagRequest' }
      responses:
        '200':
          description: Updated flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Flag' }
    delete:
      tags: [Flags]
      summary: Delete flag or archive it if overrides exist
      responses:
        '204': { description: Flag deleted or archived }
  /api/v1/projects/{projectId}/flags/{flagId}/environments/{environmentKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FlagId'
      - $ref: '#/components/parameters/EnvironmentKey'
    get:
      tags: [Flags]
      summary: Get environment-specific flag config
      responses:
        '200':
          description: Environment config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FlagEnvironmentConfig' }
    put:
      tags: [Flags]
      summary: Create or replace environment-specific flag config
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PutFlagEnvironmentConfigRequest' }
      responses:
        '200':
          description: Environment config upserted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FlagEnvironmentConfig' }
    delete:
      tags: [Flags]
      summary: Reset environment-specific config to inherited defaults
      responses:
        '204': { description: Flag environment config reset }
  /api/v1/projects/{projectId}/clients:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Clients]
      summary: Create client
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateClientRequest' }
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
    get:
      tags: [Clients]
      summary: List clients
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Client list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClientListResponse' }
  /api/v1/projects/{projectId}/clients/{clientId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Clients]
      summary: Get client
      responses:
        '200':
          description: Client
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
    patch:
      tags: [Clients]
      summary: Update client
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateClientRequest' }
      responses:
        '200':
          description: Updated client
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
    delete:
      tags: [Clients]
      summary: Delete client
      responses:
        '204': { description: Client deleted }
  /api/v1/projects/{projectId}/clients/{clientId}/flags/{flagId}/override:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/FlagId'
    put:
      tags: [Overrides]
      summary: Create or replace a client override
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PutOverrideRequest' }
      responses:
        '200':
          description: Override upserted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Override' }
    delete:
      tags: [Overrides]
      summary: Delete a client override
      responses:
        '204': { description: Override deleted }
  /api/v1/projects/{projectId}/clients/{clientId}/overrides:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Overrides]
      summary: List client overrides
      responses:
        '200':
          description: Override list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OverrideListResponse' }
  /api/v1/projects/{projectId}/evaluation-events:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Events]
      summary: List evaluation events
      parameters:
        - name: environment
          in: query
          schema: { type: string }
        - name: flag_id
          in: query
          schema: { type: string }
        - name: client_id
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Evaluation event list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EvaluationEventListResponse' }
  /api/v1/keys:
    post:
      tags: [Keys]
      summary: Create API key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateKeyRequest' }
      responses:
        '201':
          description: Key created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedKey' }
    get:
      tags: [Keys]
      summary: List API keys
      parameters:
        - name: project_id
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Key list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KeyListResponse' }
  /api/v1/keys/{keyId}:
    parameters:
      - $ref: '#/components/parameters/KeyId'
    get:
      tags: [Keys]
      summary: Get key
      responses:
        '200':
          description: API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKey' }
  /api/v1/keys/{keyId}/revoke:
    parameters:
      - $ref: '#/components/parameters/KeyId'
    post:
      tags: [Keys]
      summary: Revoke key
      responses:
        '204': { description: Key revoked }
  /api/v1/runtime/config:
    get:
      tags: [Runtime]
      summary: Resolve config for the runtime key's bound client
      parameters:
        - name: environment
          in: query
          description: Environment key, defaults to the project's default environment
          schema: { type: string }
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve a single flag for the runtime key's bound client
      parameters:
        - name: environment
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Resolved flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedFlag' }
  /api/v1/runtime/projects/{projectId}/clients/{clientKey}/config:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientKey'
    get:
      tags: [Runtime]
      summary: Resolve config for a project client in the given or default environment
      parameters:
        - name: environment
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/projects/{projectId}/clients/{clientKey}/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientKey'
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve one flag for a project client in the given or default environment
      parameters:
        - name: environment
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Resolved flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedFlag' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/clients/{clientKey}/config:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
      - $ref: '#/components/parameters/ClientKey'
    get:
      tags: [Runtime]
      summary: Resolve config for a project client in a specific environment
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/clients/{clientKey}/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
      - $ref: '#/components/parameters/ClientKey'
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve one flag for a project client in a specific environment
      responses:
        '200':
          description: Resolved flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedFlag' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/snapshot:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
    get:
      tags: [Runtime]
      summary: Produce a local-evaluation snapshot for an environment
      responses:
        '200':
          description: Snapshot
          headers:
            ETag:
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RuntimeSnapshot' }
        '304':
          description: Snapshot unchanged
          headers:
            ETag:
              schema: { type: string }
  /api/v1/projects/{projectId}/identities:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Identities]
      summary: Create an identity with optional initial traits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, identifier]
              properties:
                kind: { type: string }
                identifier: { type: string }
                display_name: { type: [string, 'null'] }
                description: { type: [string, 'null'] }
                traits:
                  type: object
                  additionalProperties: true
      responses:
        '201': { description: Identity created }
    get:
      tags: [Identities]
      summary: List identities
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: kind
          in: query
          schema: { type: string }
        - name: identifier
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [active, disabled, deleted] }
      responses:
        '200':
          description: Identity list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IdentityListResponse' }
  /api/v1/projects/{projectId}/identities/{identityId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdentityId'
    get:
      tags: [Identities]
      summary: Get identity
      responses:
        '200':
          description: Identity
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Identity' }
    patch:
      tags: [Identities]
      summary: Update identity
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateIdentityRequest' }
      responses:
        '200':
          description: Updated identity
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Identity' }
    delete:
      tags: [Identities]
      summary: Delete identity
      responses:
        '204': { description: Identity deleted }
  /api/v1/projects/{projectId}/identities/{identityId}/traits:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdentityId'
    get:
      tags: [Identities]
      summary: List identity traits
      responses:
        '200':
          description: Trait map
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IdentityTraitMapResponse' }
    patch:
      tags: [Identities]
      summary: Bulk set and unset traits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set:
                  type: object
                  additionalProperties: true
                unset:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Updated traits
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IdentityTraitMapResponse' }
  /api/v1/projects/{projectId}/identities/{identityId}/traits/{traitKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IdentityId'
      - name: traitKey
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [Identities]
      summary: Create or replace a single identity trait
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value: {}
      responses:
        '200':
          description: Updated trait
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IdentityTraitUpsertResponse' }
  /api/v1/projects/{projectId}/audit-logs:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Audit]
      summary: List audit logs for project mutations
      parameters:
        - name: environment
          in: query
          schema: { type: string }
        - name: resource_type
          in: query
          schema: { type: string }
        - name: resource_id
          in: query
          schema: { type: string }
        - name: resource_key
          in: query
          schema: { type: string }
        - name: actor_id
          in: query
          schema: { type: string }
        - name: action
          in: query
          schema: { type: string }
        - name: created_from
          in: query
          schema: { type: string, format: date-time }
        - name: created_to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Audit log list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuditLogListResponse' }
  /api/v1/projects/{projectId}/analytics/evaluations/by-flag:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Analytics]
      summary: Aggregate evaluations by flag
      parameters:
        - name: environment
          in: query
          schema: { type: string }
        - name: flag_id
          in: query
          schema: { type: string }
        - name: flag_key
          in: query
          schema: { type: string }
        - name: created_from
          in: query
          schema: { type: string, format: date-time }
        - name: created_to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Evaluation aggregates
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AnalyticsListResponse' }
  /api/v1/projects/{projectId}/analytics/evaluations/by-variant:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Analytics]
      summary: Aggregate evaluations by variant
      parameters:
        - name: environment
          in: query
          schema: { type: string }
        - name: flag_id
          in: query
          schema: { type: string }
        - name: flag_key
          in: query
          schema: { type: string }
        - name: created_from
          in: query
          schema: { type: string, format: date-time }
        - name: created_to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Evaluation aggregates by variant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AnalyticsListResponse' }
  /api/v1/projects/{projectId}/analytics/evaluations/by-environment:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Analytics]
      summary: Aggregate evaluations by environment
      parameters:
        - name: environment
          in: query
          schema: { type: string }
        - name: flag_id
          in: query
          schema: { type: string }
        - name: flag_key
          in: query
          schema: { type: string }
        - name: created_from
          in: query
          schema: { type: string, format: date-time }
        - name: created_to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Evaluation aggregates by environment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AnalyticsListResponse' }
  /api/v1/projects/{projectId}/analytics/recent-activity:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Analytics]
      summary: List recent evaluation activity
      parameters:
        - name: environment
          in: query
          schema: { type: string }
        - name: flag_id
          in: query
          schema: { type: string }
        - name: flag_key
          in: query
          schema: { type: string }
        - name: created_from
          in: query
          schema: { type: string, format: date-time }
        - name: created_to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Recent evaluation activity
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AnalyticsListResponse' }
  /api/v1/projects/{projectId}/change-requests:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Change Requests]
      summary: Create a change request for protected flag environment config
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateChangeRequestRequest' }
      responses:
        '201':
          description: Change request created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChangeRequest' }
    get:
      tags: [Change Requests]
      summary: List change requests
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Change requests
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChangeRequestListResponse' }
  /api/v1/projects/{projectId}/change-requests/{changeRequestId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: changeRequestId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Change Requests]
      summary: Get change request
      responses:
        '200':
          description: Change request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChangeRequest' }
  /api/v1/projects/{projectId}/change-requests/{changeRequestId}/review:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: changeRequestId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [Change Requests]
      summary: Approve or reject a change request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approve, reject] }
      responses:
        '200':
          description: Reviewed change request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChangeRequest' }
  /api/v1/projects/{projectId}/change-requests/{changeRequestId}/apply:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: changeRequestId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [Change Requests]
      summary: Apply an approved change request
      responses:
        '200':
          description: Applied change request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChangeRequest' }
  /api/v1/projects/{projectId}/export:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Import Export]
      summary: Export deterministic project config
      responses:
        '200':
          description: Project export
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectExport' }
  /api/v1/projects/{projectId}/import:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Import Export]
      summary: Import deterministic project config with dry-run and replace controls
      parameters:
        - name: dry_run
          in: query
          schema: { type: boolean, default: true }
        - name: replace
          in: query
          schema: { type: boolean, default: false }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectImportRequest' }
      responses:
        '200':
          description: Import plan or apply result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectImportResponse' }
  /api/v1/projects/{projectId}/code-references:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Code References]
      summary: Ingest code references for flags
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCodeReferencesRequest' }
      responses:
        '201':
          description: Code references created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodeReferenceListResponse' }
    get:
      tags: [Code References]
      summary: List code references
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Code references
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodeReferenceListResponse' }
  /api/v1/projects/{projectId}/code-references/{referenceId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: referenceId
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [Code References]
      summary: Delete a code reference
      responses:
        '204': { description: Code reference deleted }
  /api/v1/projects/{projectId}/flags/stale-report:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Flags]
      summary: Report likely stale flags from evaluation history and code references
      parameters:
        - name: evaluated_before
          in: query
          schema: { type: string, format: date-time }
        - name: stale_status
          in: query
          schema: { type: string, enum: [active, stale] }
        - name: has_code_references
          in: query
          schema: { type: boolean }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Stale flag candidates
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StaleFlagReportResponse' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/identities/evaluate:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
    post:
      tags: [Runtime]
      summary: Evaluate flags for an identity with transient traits
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EvaluateIdentityRequest' }
      responses:
        '200':
          description: Resolved identity config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/identities/{kind}/{identifier}/config:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
      - name: kind
        in: path
        required: true
        schema: { type: string }
      - name: identifier
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [Runtime]
      summary: Resolve config for a specific identity in an environment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                flag_keys:
                  type: array
                  items: { type: string }
                transient_traits:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Resolved identity config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedConfig' }
  /api/v1/runtime/projects/{projectId}/environments/{environmentKey}/identities/{kind}/{identifier}/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/EnvironmentKey'
      - name: kind
        in: path
        required: true
        schema: { type: string }
      - name: identifier
        in: path
        required: true
        schema: { type: string }
      - $ref: '#/components/parameters/FlagKey'
    post:
      tags: [Runtime]
      summary: Resolve a single flag for a specific identity in an environment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                transient_traits:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Resolved identity flag
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedFlag' }
  /api/v1/runtime/projects/{projectId}/evaluation-events:batch:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Runtime]
      summary: Ingest batched evaluation events from local evaluators or edge services
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EvaluationEventBatchRequest' }
      responses:
        '202':
          description: Batch accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EvaluationEventBatchAccepted' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema: { type: string }
    EnvironmentId:
      name: environmentId
      in: path
      required: true
      schema: { type: string }
    EnvironmentKey:
      name: environmentKey
      in: path
      required: true
      schema: { type: string }
    SegmentId:
      name: segmentId
      in: path
      required: true
      schema: { type: string }
    FlagId:
      name: flagId
      in: path
      required: true
      schema: { type: string }
    ClientId:
      name: clientId
      in: path
      required: true
      schema: { type: string }
    ClientKey:
      name: clientKey
      in: path
      required: true
      schema: { type: string }
    IdentityId:
      name: identityId
      in: path
      required: true
      schema: { type: string }
    KeyId:
      name: keyId
      in: path
      required: true
      schema: { type: string }
    FlagKey:
      name: flagKey
      in: path
      required: true
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    Project:
      type: object
      required: [id, name, slug, status, created_at, updated_at]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, deleted] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Environment:
      type: object
      required: [id, project_id, key, name, is_default, requires_change_requests, sort_order, status, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        is_default: { type: integer }
        requires_change_requests: { type: integer }
        sort_order: { type: integer }
        status: { type: string, enum: [active, deleted] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Condition:
      type: object
      required: [attribute, operator]
      properties:
        attribute: { type: string }
        operator: { type: string }
        value: {}
        values:
          type: array
          items: {}
    Segment:
      type: object
      required: [id, project_id, key, name, rules, status, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
        status: { type: string, enum: [active, deleted] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Variant:
      type: object
      required: [key, name, value]
      properties:
        key: { type: string }
        name: { type: string }
        value: {}
        payload:
          type: [object, 'null']
          additionalProperties: true
    Prerequisite:
      type: object
      required: [flag_key]
      properties:
        flag_key: { type: string }
        expected_variant_key: { type: [string, 'null'] }
        expected_value: {}
    Flag:
      type: object
      required: [id, project_id, key, name, flag_kind, type, default_value, status, created_at, updated_at, stale_status]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        flag_kind: { type: string, enum: [release, experiment, ops, permission] }
        type: { type: string, enum: [boolean, select, multi_select] }
        default_value: {}
        options:
          type: [array, 'null']
          items: { type: string }
        variants:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Variant' }
        default_variant_key: { type: [string, 'null'] }
        prerequisites:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Prerequisite' }
        status: { type: string, enum: [active, archived] }
        expires_at: { type: [string, 'null'], format: date-time }
        last_evaluated_at: { type: [string, 'null'], format: date-time }
        stale_status: { type: string, enum: [active, stale] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    TargetRule:
      type: object
      required: [name, conditions, segment_keys, bucketing_key, serve]
      properties:
        name: { type: string }
        conditions:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
        segment_keys:
          type: array
          items: { type: string }
        percentage: { type: number }
        bucketing_key: { type: string }
        schedule:
          type: [object, 'null']
          properties:
            start_at: { type: [string, 'null'] }
            end_at: { type: [string, 'null'] }
        serve:
          type: object
          properties:
            value: {}
            variant_key: { type: [string, 'null'] }
    FlagEnvironmentConfig:
      type: object
      required: [flag_id, environment_id, rules]
      properties:
        id: { type: [string, 'null'] }
        flag_id: { type: string }
        environment_id: { type: string }
        default_value: {}
        default_variant_key: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/TargetRule' }
        environment: { $ref: '#/components/schemas/Environment' }
        created_at: { type: [string, 'null'], format: date-time }
        updated_at: { type: [string, 'null'], format: date-time }
    Client:
      type: object
      required: [id, project_id, key, name, status, metadata, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, disabled, deleted] }
        metadata:
          type: object
          additionalProperties: true
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Identity:
      type: object
      required: [id, project_id, kind, identifier, status, traits, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        kind: { type: string }
        identifier: { type: string }
        display_name: { type: [string, 'null'] }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, disabled, deleted] }
        client_id: { type: [string, 'null'] }
        traits:
          type: object
          additionalProperties: true
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    Override:
      type: object
      required: [id, project_id, flag_id, client_id, value, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        flag_id: { type: string }
        client_id: { type: string }
        value: {}
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    ApiKey:
      type: object
      required: [id, name, prefix, kind, scopes, created_at]
      properties:
        id: { type: string }
        project_id: { type: [string, 'null'] }
        client_id: { type: [string, 'null'] }
        name: { type: string }
        prefix: { type: string }
        kind: { type: string }
        scopes:
          type: array
          items: { type: string }
        last_used_at: { type: [string, 'null'], format: date-time }
        expires_at: { type: [string, 'null'], format: date-time }
        revoked_at: { type: [string, 'null'], format: date-time }
        created_at: { type: string, format: date-time }
    EvaluationEvent:
      type: object
      required: [id, project_id, environment_id, flag_id, client_id, value, reason, context, created_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        environment_id: { type: string }
        flag_id: { type: string }
        client_id: { type: string }
        variant_key: { type: [string, 'null'] }
        value: {}
        reason: { type: string }
        matched_rule: { type: [string, 'null'] }
        context:
          type: object
          additionalProperties: true
        created_at: { type: string, format: date-time }
    AuditLog:
      type: object
      required: [id, project_id, resource_type, resource_id, action, actor_type, metadata, created_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        environment_id: { type: [string, 'null'] }
        resource_type: { type: string }
        resource_id: { type: string }
        resource_key: { type: [string, 'null'] }
        action: { type: string }
        actor_type: { type: string }
        actor_id: { type: [string, 'null'] }
        actor_name: { type: [string, 'null'] }
        request_id: { type: [string, 'null'] }
        before_payload:
          type: [object, 'null']
          additionalProperties: true
        after_payload:
          type: [object, 'null']
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
        created_at: { type: string, format: date-time }
    AnalyticsItem:
      type: object
      additionalProperties: true
    ChangeRequest:
      type: object
      required: [id, project_id, environment_id, resource_type, resource_id, status, title, proposed_payload, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        environment_id: { type: string }
        resource_type: { type: string }
        resource_id: { type: string }
        status: { type: string, enum: [pending, approved, rejected, applied] }
        title: { type: string }
        description: { type: [string, 'null'] }
        proposed_by_principal_id: { type: [string, 'null'] }
        reviewed_by_principal_id: { type: [string, 'null'] }
        applied_by_principal_id: { type: [string, 'null'] }
        proposed_payload:
          type: object
          additionalProperties: true
        approved_payload:
          type: [object, 'null']
          additionalProperties: true
        base_snapshot_checksum: { type: [string, 'null'] }
        applied_at: { type: [string, 'null'], format: date-time }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    CodeReference:
      type: object
      required: [id, project_id, flag_id, source_type, reference_path, observed_at, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        flag_id: { type: string }
        source_type: { type: string }
        source_name: { type: [string, 'null'] }
        reference_path: { type: string }
        reference_line: { type: [integer, 'null'] }
        reference_context: { type: [string, 'null'] }
        observed_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    StaleFlagCandidate:
      type: object
      required: [flag_id, flag_key, stale_status, code_reference_count]
      properties:
        flag_id: { type: string }
        flag_key: { type: string }
        stale_status: { type: string, enum: [active, stale] }
        last_evaluated_at: { type: [string, 'null'], format: date-time }
        code_reference_count: { type: integer }
        latest_code_reference_observed_at: { type: [string, 'null'], format: date-time }
        likely_stale_reason: { type: [string, 'null'] }
    ResolvedFlagValue:
      type: object
      required: [value, reason, stale_status]
      properties:
        value: {}
        variant_key: { type: [string, 'null'] }
        payload:
          type: [object, 'null']
          additionalProperties: true
        reason: { type: string }
        matched_rule: { type: [string, 'null'] }
        stale_status: { type: string, enum: [active, stale] }
    ResolvedConfig:
      type: object
      required: [project, client, environment, flags, meta]
      properties:
        project:
          type: object
          properties:
            id: { type: string }
            slug: { type: [string, 'null'] }
        client:
          type: object
          properties:
            id: { type: string }
            key: { type: string }
        environment:
          type: object
          properties:
            id: { type: string }
            key: { type: string }
            name: { type: string }
        flags:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ResolvedFlagValue'
        meta:
          type: object
          properties:
            resolved_at: { type: string, format: date-time }
    ResolvedFlag:
      allOf:
        - type: object
          required: [key]
          properties:
            key: { type: string }
        - $ref: '#/components/schemas/ResolvedFlagValue'
    RuntimeSnapshot:
      type: object
      required: [project_id, environment, segments, flags, meta]
      properties:
        project_id: { type: string }
        environment:
          type: object
          properties:
            id: { type: string }
            key: { type: string }
            name: { type: string }
        segments:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              name: { type: string }
              rules:
                type: array
                items: { $ref: '#/components/schemas/Condition' }
        flags:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              type: { type: string }
              flag_kind: { type: string }
              default_value: {}
              default_variant_key: { type: [string, 'null'] }
              options:
                type: [array, 'null']
                items: { type: string }
              variants:
                type: [array, 'null']
                items: { $ref: '#/components/schemas/Variant' }
              prerequisites:
                type: [array, 'null']
                items: { $ref: '#/components/schemas/Prerequisite' }
              rules:
                type: array
                items: { $ref: '#/components/schemas/TargetRule' }
              stale_status: { type: string }
        meta:
          type: object
          properties:
            generated_at: { type: string, format: date-time }
            mode: { type: string }
    ProjectListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Project' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    EnvironmentListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Environment' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    SegmentListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Segment' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    FlagListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Flag' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    ClientListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Client' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    IdentityListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    OverrideListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Override' }
    AuditLogListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/AuditLog' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    AnalyticsListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/AnalyticsItem' }
    ChangeRequestListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ChangeRequest' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    CodeReferenceListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CodeReference' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    KeyListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ApiKey' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    EvaluationEventListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/EvaluationEvent' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    IdentityTraitMapResponse:
      type: object
      required: [identity_id, traits]
      properties:
        identity_id: { type: string }
        traits:
          type: object
          additionalProperties: true
    IdentityTraitUpsertResponse:
      type: object
      required: [identity_id, identity, trait]
      properties:
        identity_id: { type: string }
        identity:
          type: object
          properties:
            id: { type: string }
            kind: { type: string }
            identifier: { type: string }
        trait:
          type: object
          additionalProperties: true
    ProjectExport:
      type: object
      properties:
        export_version: { type: string }
        project: { $ref: '#/components/schemas/Project' }
        environments:
          type: array
          items: { $ref: '#/components/schemas/Environment' }
        flags:
          type: array
          items: { $ref: '#/components/schemas/Flag' }
        segments:
          type: array
          items: { $ref: '#/components/schemas/Segment' }
        flag_environment_configs:
          type: array
          items:
            type: object
            properties:
              flag_key: { type: string }
              environment_key: { type: string }
              default_value: {}
              default_variant_key: { type: [string, 'null'] }
              rules:
                type: array
                items: { $ref: '#/components/schemas/TargetRule' }
        prerequisites:
          type: array
          items:
            type: object
            properties:
              flag_key: { type: string }
              prerequisites:
                type: array
                items: { $ref: '#/components/schemas/Prerequisite' }
        variants:
          type: array
          items:
            type: object
            properties:
              flag_key: { type: string }
              variants:
                type: array
                items: { $ref: '#/components/schemas/Variant' }
    ProjectImportResponse:
      type: object
      properties:
        dry_run: { type: boolean }
        plan:
          type: object
          additionalProperties: true
    StaleFlagReportResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/StaleFlagCandidate' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
    EvaluationEventBatchAccepted:
      type: object
      properties:
        accepted: { type: integer }
        batch_id: { type: [string, 'null'] }
    PaginationMeta:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
    CreatedKey:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [secret]
          properties:
            secret: { type: string }
    CreateProjectRequest:
      type: object
      required: [name, slug]
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
    UpdateProjectRequest:
      type: object
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
    CreateEnvironmentRequest:
      type: object
      required: [key, name]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        is_default: { type: boolean }
        requires_change_requests: { type: boolean }
        sort_order: { type: integer }
    UpdateEnvironmentRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        is_default: { type: boolean }
        requires_change_requests: { type: boolean }
        sort_order: { type: integer }
    CreateSegmentRequest:
      type: object
      required: [key, name, rules]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
    UpdateSegmentRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/Condition' }
    CreateFlagRequest:
      type: object
      required: [key, name, type, default_value]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        flag_kind: { type: string, enum: [release, experiment, ops, permission] }
        type: { type: string, enum: [boolean, select, multi_select] }
        default_value: {}
        options:
          type: [array, 'null']
          items: { type: string }
        variants:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Variant' }
        default_variant_key: { type: [string, 'null'] }
        prerequisites:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Prerequisite' }
        expires_at: { type: [string, 'null'] }
    UpdateFlagRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        flag_kind: { type: string, enum: [release, experiment, ops, permission] }
        default_value: {}
        options:
          type: [array, 'null']
          items: { type: string }
        variants:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Variant' }
        default_variant_key: { type: [string, 'null'] }
        prerequisites:
          type: [array, 'null']
          items: { $ref: '#/components/schemas/Prerequisite' }
        expires_at: { type: [string, 'null'] }
        status: { type: string, enum: [active, archived] }
    PutFlagEnvironmentConfigRequest:
      type: object
      properties:
        default_value: {}
        default_variant_key: { type: [string, 'null'] }
        rules:
          type: array
          items: { $ref: '#/components/schemas/TargetRule' }
    CreateClientRequest:
      type: object
      required: [key, name]
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        metadata:
          type: object
          additionalProperties: true
    UpdateClientRequest:
      type: object
      properties:
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, disabled, deleted] }
        metadata:
          type: object
          additionalProperties: true
    UpdateIdentityRequest:
      type: object
      properties:
        kind: { type: string }
        identifier: { type: string }
        display_name: { type: [string, 'null'] }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [active, disabled, deleted] }
    PutOverrideRequest:
      type: object
      required: [value]
      properties:
        value: {}
    CreateChangeRequestRequest:
      type: object
      required: [flag_id, environment_key, title, desired_config]
      properties:
        flag_id: { type: string }
        environment_key: { type: string }
        title: { type: string }
        description: { type: [string, 'null'] }
        base_snapshot_checksum: { type: [string, 'null'] }
        desired_config:
          type: object
          properties:
            default_value: {}
            default_variant_key: { type: [string, 'null'] }
            rules:
              type: array
              items: { $ref: '#/components/schemas/TargetRule' }
    ProjectImportRequest:
      type: object
      properties:
        environments:
          type: array
          items: { $ref: '#/components/schemas/CreateEnvironmentRequest' }
        segments:
          type: array
          items: { $ref: '#/components/schemas/CreateSegmentRequest' }
        flags:
          type: array
          items: { $ref: '#/components/schemas/CreateFlagRequest' }
        flag_environment_configs:
          type: array
          items:
            type: object
            properties:
              flag_key: { type: string }
              environment_key: { type: string }
              default_value: {}
              default_variant_key: { type: [string, 'null'] }
              rules:
                type: array
                items: { $ref: '#/components/schemas/TargetRule' }
    CreateCodeReferenceItem:
      type: object
      required: [flag_key, source_type, reference_path]
      properties:
        flag_key: { type: string }
        source_type: { type: string }
        source_name: { type: [string, 'null'] }
        reference_path: { type: string }
        reference_line: { type: [integer, 'null'] }
        reference_context: { type: [string, 'null'] }
        observed_at: { type: [string, 'null'], format: date-time }
    CreateCodeReferencesRequest:
      type: object
      required: [references]
      properties:
        references:
          type: array
          items: { $ref: '#/components/schemas/CreateCodeReferenceItem' }
    CreateKeyRequest:
      type: object
      required: [kind, name]
      properties:
        kind: { type: string, enum: [project_admin, project_read, client_runtime] }
        project_id: { type: [string, 'null'] }
        client_id: { type: [string, 'null'] }
        name: { type: string }
        scopes:
          type: array
          items: { type: string }
        expires_at: { type: [string, 'null'] }
    EvaluateIdentityRequest:
      type: object
      required: [kind, identifier]
      properties:
        kind: { type: string }
        identifier: { type: string }
        flag_keys:
          type: array
          items: { type: string }
        transient_traits:
          type: object
          additionalProperties: true
    EvaluationEventBatchRequest:
      type: object
      required: [environment_key, events]
      properties:
        environment_key: { type: string }
        batch_id: { type: [string, 'null'] }
        snapshot_checksum: { type: [string, 'null'] }
        events:
          type: array
          items:
            type: object
            required: [flag_key]
            properties:
              flag_key: { type: string }
              client_key: { type: [string, 'null'] }
              identity_kind: { type: [string, 'null'] }
              identity_identifier: { type: [string, 'null'] }
              variant_key: { type: [string, 'null'] }
              value: {}
              reason: { type: [string, 'null'] }
              matched_rule: { type: [string, 'null'] }
              traits:
                type: [object, 'null']
                additionalProperties: true
              transient_traits:
                type: [object, 'null']
                additionalProperties: true
              occurred_at: { type: [string, 'null'], format: date-time }
