openapi: 3.1.0
info:
  title: Flagify API
  version: 1.0.0
  summary: Project-scoped feature flags with customer-specific overrides
  description: |
    Flagify manages:
    - projects
    - customer clients inside projects
    - flags inside projects
    - per-client flag overrides
    - API keys
    - runtime config resolution

    In this API, a `client` is a customer account inside a project, for example `acme-inc`.
servers:
  - url: https://flagify.rsrdev.com
security:
  - bearerAuth: []
tags:
  - name: Projects
  - name: Flags
  - name: Clients
  - name: Overrides
  - name: Keys
  - name: Runtime
paths:
  /api/v1/projects:
    post:
      tags: [Projects]
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '409': { $ref: '#/components/responses/Error409' }
        '422': { $ref: '#/components/responses/Error422' }
    get:
      tags: [Projects]
      summary: List projects
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
  /api/v1/projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      summary: Get project
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
        '410': { $ref: '#/components/responses/Error410' }
    patch:
      tags: [Projects]
      summary: Update project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Updated project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
        '410': { $ref: '#/components/responses/Error410' }
        '409': { $ref: '#/components/responses/Error409' }
        '422': { $ref: '#/components/responses/Error422' }
    delete:
      tags: [Projects]
      summary: Soft delete project
      responses:
        '204':
          description: Project deleted
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/projects/{projectId}/flags:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Flags]
      summary: Create flag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFlagRequest'
      responses:
        '201':
          description: Flag created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flag'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '409': { $ref: '#/components/responses/Error409' }
        '410': { $ref: '#/components/responses/Error410' }
        '422': { $ref: '#/components/responses/Error422' }
    get:
      tags: [Flags]
      summary: List flags
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Flag list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlagListResponse'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '410': { $ref: '#/components/responses/Error410' }
  /api/v1/projects/{projectId}/flags/{flagId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FlagId'
    get:
      tags: [Flags]
      summary: Get flag
      responses:
        '200':
          description: Flag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flag'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
    patch:
      tags: [Flags]
      summary: Update flag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFlagRequest'
      responses:
        '200':
          description: Updated flag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flag'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
        '409': { $ref: '#/components/responses/Error409' }
        '410': { $ref: '#/components/responses/Error410' }
        '422': { $ref: '#/components/responses/Error422' }
    delete:
      tags: [Flags]
      summary: Delete flag or archive it if overrides exist
      responses:
        '204':
          description: Flag deleted or archived
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/projects/{projectId}/clients:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Clients]
      summary: Create client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '409': { $ref: '#/components/responses/Error409' }
        '410': { $ref: '#/components/responses/Error410' }
        '422': { $ref: '#/components/responses/Error422' }
    get:
      tags: [Clients]
      summary: List clients
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Client list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientListResponse'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '410': { $ref: '#/components/responses/Error410' }
  /api/v1/projects/{projectId}/clients/{clientId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Clients]
      summary: Get client
      responses:
        '200':
          description: Client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
        '410': { $ref: '#/components/responses/Error410' }
    patch:
      tags: [Clients]
      summary: Update client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientRequest'
      responses:
        '200':
          description: Updated client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
        '409': { $ref: '#/components/responses/Error409' }
        '410': { $ref: '#/components/responses/Error410' }
        '422': { $ref: '#/components/responses/Error422' }
    delete:
      tags: [Clients]
      summary: Soft delete client
      responses:
        '204':
          description: Client deleted
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/projects/{projectId}/clients/{clientId}/flags/{flagId}/override:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/FlagId'
    put:
      tags: [Overrides]
      summary: Create or replace a client override
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutOverrideRequest'
      responses:
        '200':
          description: Override upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Override'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
        '409': { $ref: '#/components/responses/Error409' }
        '410': { $ref: '#/components/responses/Error410' }
        '422': { $ref: '#/components/responses/Error422' }
    delete:
      tags: [Overrides]
      summary: Delete a client override
      responses:
        '204':
          description: Override deleted
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/projects/{projectId}/clients/{clientId}/overrides:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Overrides]
      summary: List client overrides
      responses:
        '200':
          description: Override list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverrideListResponse'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
        '410': { $ref: '#/components/responses/Error410' }
  /api/v1/keys:
    post:
      tags: [Keys]
      summary: Create API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeyRequest'
      responses:
        '201':
          description: Key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedKey'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '409': { $ref: '#/components/responses/Error409' }
        '410': { $ref: '#/components/responses/Error410' }
        '422': { $ref: '#/components/responses/Error422' }
    get:
      tags: [Keys]
      summary: List API keys
      parameters:
        - name: project_id
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Key list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyListResponse'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
  /api/v1/keys/{keyId}:
    parameters:
      - $ref: '#/components/parameters/KeyId'
    get:
      tags: [Keys]
      summary: Get API key
      responses:
        '200':
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/keys/{keyId}/revoke:
    parameters:
      - $ref: '#/components/parameters/KeyId'
    post:
      tags: [Keys]
      summary: Revoke API key
      responses:
        '204':
          description: Key revoked
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/runtime/config:
    get:
      tags: [Runtime]
      summary: Resolve config for the runtime key's bound client
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvedConfig'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/runtime/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve a single flag for the runtime key's bound client
      responses:
        '200':
          description: Single resolved flag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvedFlag'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/runtime/projects/{projectId}/clients/{clientKey}/config:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientKey'
    get:
      tags: [Runtime]
      summary: Resolve config for a project client
      responses:
        '200':
          description: Resolved config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvedConfig'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
  /api/v1/runtime/projects/{projectId}/clients/{clientKey}/config/{flagKey}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClientKey'
      - $ref: '#/components/parameters/FlagKey'
    get:
      tags: [Runtime]
      summary: Resolve a single flag for a project client
      responses:
        '200':
          description: Single resolved flag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvedFlag'
        '401': { $ref: '#/components/responses/Error401' }
        '403': { $ref: '#/components/responses/Error403' }
        '404': { $ref: '#/components/responses/Error404' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema: { type: string }
    FlagId:
      name: flagId
      in: path
      required: true
      schema: { type: string }
    ClientId:
      name: clientId
      in: path
      required: true
      schema: { type: string }
    ClientKey:
      name: clientKey
      in: path
      required: true
      schema: { type: string }
    KeyId:
      name: keyId
      in: path
      required: true
      schema: { type: string }
    FlagKey:
      name: flagKey
      in: path
      required: true
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    Error401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error404:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error409:
      description: Conflict or unsupported operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error410:
      description: Resource deleted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error422:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Project:
      type: object
      required: [id, name, slug, status, created_at, updated_at]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
        status:
          type: string
          enum: [active, deleted]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, 'null']
          format: date-time
    Flag:
      type: object
      required: [id, project_id, key, name, type, default_value, status, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        type:
          type: string
          enum: [boolean, select, multi_select]
        default_value:
          $ref: '#/components/schemas/FlagValue'
        options:
          type: [array, 'null']
          items: { type: string }
        status:
          type: string
          enum: [active, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Client:
      type: object
      required: [id, project_id, key, name, status, metadata, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: [string, 'null'] }
        status:
          type: string
          enum: [active, disabled, deleted]
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, 'null']
          format: date-time
    Override:
      type: object
      required: [id, project_id, flag_id, client_id, value, created_at, updated_at]
      properties:
        id: { type: string }
        project_id: { type: string }
        flag_id: { type: string }
        client_id: { type: string }
        value:
          $ref: '#/components/schemas/FlagValue'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ApiKey:
      type: object
      required: [id, name, prefix, kind, scopes, created_at]
      properties:
        id: { type: string }
        project_id: { type: [string, 'null'] }
        client_id: { type: [string, 'null'] }
        name: { type: string }
        prefix: { type: string }
        kind:
          type: string
          enum: [project_admin, project_read, client_runtime]
        scopes:
          type: array
          items: { type: string }
        last_used_at:
          type: [string, 'null']
          format: date-time
        expires_at:
          type: [string, 'null']
          format: date-time
        revoked_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: string
          format: date-time
    CreatedKey:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [secret]
          properties:
            secret: { type: string }
    ResolvedConfig:
      type: object
      required: [project, client, flags, meta]
      properties:
        project:
          type: object
          required: [id, slug]
          properties:
            id: { type: string }
            slug: { type: string }
        client:
          type: object
          required: [id, key]
          properties:
            id: { type: string }
            key: { type: string }
        flags:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FlagValue'
        meta:
          type: object
          required: [resolved_at]
          properties:
            resolved_at:
              type: string
              format: date-time
    ResolvedFlag:
      type: object
      required: [key, value]
      properties:
        key: { type: string }
        value:
          $ref: '#/components/schemas/FlagValue'
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details:
              type: [array, 'null']
              items:
                type: object
                additionalProperties: true
    CreateProjectRequest:
      type: object
      required: [name, slug]
      properties:
        name: { type: string }
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
        description: { type: [string, 'null'] }
    UpdateProjectRequest:
      type: object
      properties:
        name: { type: string }
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
        description: { type: [string, 'null'] }
    CreateClientRequest:
      type: object
      required: [key, name]
      properties:
        key:
          type: string
          pattern: '^[a-z0-9_-]+$'
        name: { type: string }
        description: { type: [string, 'null'] }
        metadata:
          type: object
          additionalProperties: true
    UpdateClientRequest:
      type: object
      properties:
        key:
          type: string
          pattern: '^[a-z0-9_-]+$'
        name: { type: string }
        description: { type: [string, 'null'] }
        status:
          type: string
          enum: [active, disabled, deleted]
        metadata:
          type: object
          additionalProperties: true
    CreateKeyRequest:
      type: object
      required: [kind, name]
      properties:
        kind:
          type: string
          enum: [project_admin, project_read, client_runtime]
        name: { type: string }
        project_id: { type: string }
        client_id: { type: [string, 'null'] }
        scopes:
          type: array
          items: { type: string }
        expires_at:
          type: [string, 'null']
          format: date-time
    PutOverrideRequest:
      type: object
      required: [value]
      properties:
        value:
          $ref: '#/components/schemas/FlagValue'
    CreateFlagRequest:
      oneOf:
        - type: object
          required: [key, name, type, default_value]
          properties:
            key:
              type: string
              pattern: '^[a-z0-9_-]+$'
            name: { type: string }
            description: { type: [string, 'null'] }
            type: { const: boolean }
            default_value: { type: boolean }
        - type: object
          required: [key, name, type, default_value, options]
          properties:
            key:
              type: string
              pattern: '^[a-z0-9_-]+$'
            name: { type: string }
            description: { type: [string, 'null'] }
            type: { const: select }
            default_value: { type: string }
            options:
              type: array
              minItems: 1
              maxItems: 100
              items:
                type: string
                maxLength: 100
        - type: object
          required: [key, name, type, default_value, options]
          properties:
            key:
              type: string
              pattern: '^[a-z0-9_-]+$'
            name: { type: string }
            description: { type: [string, 'null'] }
            type: { const: multi_select }
            default_value:
              type: array
              items: { type: string }
            options:
              type: array
              minItems: 1
              maxItems: 100
              items:
                type: string
                maxLength: 100
    UpdateFlagRequest:
      type: object
      properties:
        key:
          type: string
          pattern: '^[a-z0-9_-]+$'
        name: { type: string }
        description: { type: [string, 'null'] }
        default_value:
          $ref: '#/components/schemas/FlagValue'
        options:
          type: [array, 'null']
          items: { type: string }
        status:
          type: string
          enum: [active, archived]
    ProjectListResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        meta:
          $ref: '#/components/schemas/ListMeta'
    FlagListResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Flag'
        meta:
          $ref: '#/components/schemas/ListMeta'
    ClientListResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Client'
        meta:
          $ref: '#/components/schemas/ListMeta'
    OverrideListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Override'
    KeyListResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
        meta:
          $ref: '#/components/schemas/ListMeta'
    ListMeta:
      type: object
      required: [total, limit, offset]
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
    FlagValue:
      oneOf:
        - type: boolean
        - type: string
        - type: array
          items: { type: string }
